@model Blogosphere.Web.Models.DTOs.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
@* This is For HEro Section *@
<div class="container col-xxl-8 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3 ">Blogosphere - The Dev Blog</h1>
            <p class="lead">Blogosphere is the home to coding blogs covering a vast range of topics like CSS,HTML,JS,BOOTSTRAP,ASP.NET,C#,ANGULAR.
                Want to read the latest dev articles? join the blogosphere app and get weekly blogs in your email.
            </p>
        </div>


        <div class="col-12 col-lg-6"> <img src="https://images.pexels.com/photos/5952651/pexels-photo-5952651.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Blogosphere - Dev Blogs" class="d-block mx-lg-auto img-fluid" width="300" /></div>
    </div>

</div>
@* This is For tags *@
<div class ="container ">
    <div class ="row justify-content-center">
        <div class="col-6 d-flex">
            @if (Model != null && Model.Tags.Any())
            {
                @foreach (var tag in Model.Tags)
                {
                    <span class="bg-dark badge me-1">@tag.Name</span>
                }
            }
        </div>
    </div>
</div>

@* This is For Blogs  *@
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-6">
            @if(Model !=null && Model.BlogPosts.Any())
            {
                @foreach(var blogPost in Model.BlogPosts)
                {
                    <div class="mb-5 bg-light box-shadow p-5">
                        <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading" class="mb-3 d-block img-fluid" />
                        <h2 class="mb-4">@blogPost.Heading</h2>
                        <p class="mb-4">Author:@blogPost.Author<br/>Published Date:@blogPost.PublishedDate.ToShortDateString()</p>
                        <p class="mb-4">
                            @foreach (var Tag in blogPost.Tags)
                            {
                                <span class="badge bg-secondary me-1">@Tag.Name</span>
                            }

                        </p>
                        <p class="mb-4">@blogPost.ShortDescription</p>
                        <a class="btn btn-dark" asp-area="" asp-controller="Blogs" asp-route-urlHandle="@blogPost.UrlHandle" asp-action="Index">Read More</a>
                    </div>

                }
            }




        </div>
    </div>
</div>